<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dani Simara | BSIT Student</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <img src="../assets/DS.png" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#blogs">Blogs</a></li>
                <li class="contact-btn">
                    <a href="#contacts">
                        <i class="fas fa-phone"></i> Contacts
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="home">
            <img src="../assets/home.png" alt="Dani's Chibi" class="home-img" width="150px">

            <div class="home-details">
                <h2>I'm <span>Dani Simara,</span></h2>
                <h4>Aspiring Full-Stack Web Developer</h4>
                <p>A <span>3rd year BSIT</span> student from PUP Manila - building <br> 
                    my path in full stack web development, databases, and the cloud ☁️
                </p>
                <button>
                    <a href="#">
                        <i class="fa-solid fa-eye"></i> View CV
                    </a>
                </button>
            </div>

            <div class="home-banner">
                <i class="fa-solid fa-star-of-life"></i>
                <span>Web Development</span>
            </div>

            <p class="title">What I Can Do</p>
            <p>Here are the things I enjoy working on and <br> continue to improve.</p>

            <div class="full">
                <p>Full Stack Web Development</p>
            </div>

            <div class="static">
                <p>Static Website & Landing Page Development</p>
            </div>

            <div class="back">
                <p>Backend Development</p>
            </div>
        </section>

        <section id="about">
            <div class="about-details">
                <p class="section">About Me 
                    <i class="fa-solid fa-circle-info"></i>
                </p>
                <h2>Who is <span>Dani Simara?</span></h2>
                <p class="details">
                    I'm a 3rd year BSIT student at PUP Manila with a passion for full stack web <br>
                    development, backend systems, and cloud technologies. I enjoy building useful <br>
                    web apps and exploring how tech can make tasks simpler and more efficient. <br>
                    Currently learning more about databases, APIs, and AWS deployment.
                </p>

                <div class="socials">
                    <a href="https://www.facebook.com/daniella.simara/" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="www.linkedin.com/in/daniella-simara-908b8229a" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>

                    <a href="www.linkedin.com/in/daniella-simara-908b8229a" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </div>

            <div class="about-img">
                <img src="../assets/about.png" alt="Dani's Chibi" width="150px">
            </div>

            <div class="background">
                <div class="education">
                    <div class="title">
                        <i class="fa-solid fa-award"></i>
                        <span>Education</span>
                    </div>

                    <div class="timelines">
                        <div class="timeline">
                            <p class="colored">2021 - 2023</p>
                            <p class="school">Morong National Senior HS</p>
                            <p class="colored">STEM - With High Honors</p>
                        </div>

                        <div class="timeline">
                            <p class="colored">2019 - 2021</p>
                            <p class="school">Mahabang Parang NHS</p>
                            <p class="colored">With High Honors</p>
                        </div>
                    </div>
                </div>
                <div class="experiences">
                    <div class="timelines">
                        <div class="timeline">
                            <p class="colored">Jan 2024 - Jul 2024</p>
                            <p class="school">Concentrix Bridgetowne</p>
                            <p class="colored">Customer Service Advisor</p>
                        </div>

                        <div class="timeline">
                            <p class="colored">Nov 2024 - Jan 2025</p>
                            <p class="school">Ollopa Corporation</p>
                            <p class="colored">IT Intern</p>
                        </div>
                    </div>

                    <div class="title">
                        <i class="fa-solid fa-laptop"></i>
                        <span>Experiences</span>
                    </div>
                </div>
            </div>
        </section>

        <section id="projects">
            <div class="projects-banner">
                <i class="fa-solid fa-star-of-life"></i>
                <span>Projects</span>
            </div>

            <div class="title">
                <i class="fa-solid fa-diagram-project"></i>
                <span>Projects</span>
                <h2>My Projects</h2>
            </div>

            <div class="view">
                <a href="./projects.html">
                    <button>View More 
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </a>
            </div>

            <div class="fav-projects">
                <!-- pamantasanPH -->
                <div class="project-card">
                    <img src="../assets/pamantasan.png" alt="PamantasanPH" width="150px">

                    <div class="title">
                        <p>PamantasanPH</p>
                        <p class="date">Jul 2024</p>
                    </div>

                    <div class="tags">
                        <p class="role">Backend Developer</p>
                        <a href="https://github.com/dmsimara/PamantasanPH" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>

                    <p class="description">
                        PamantasanPH helps Filipino students explore, compare, and apply 
                        to universities with ease - all in one platform.
                    </p>

                    <p class="techstack">
                        <b>Tech Stack:</b> HTML, CSS, Vanilla JS, Flask, SQLAlchemy
                    </p>
                </div>

                <!-- hive -->
                <div class="project-card">
                    <img src="../assets/hive.png" alt="HIVE" width="150px">

                    <div class="title">
                        <p>HIVE</p>
                        <p class="date">Feb 2025</p>
                    </div>

                    <div class="tags">
                        <p class="role">Full Stack Developer</p>
                        <a href="https://github.com/dmsimara/Hive" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>

                        <a href="https://hive-niki.onrender.com" target="_blank">
                            <i class="fa-solid fa-globe"></i>
                        </a>
                    </div>

                    <p class="description">
                        Hive simplifies the daily management of residential buildings by 
                        streamlining tenant registration, rent collection, maintenance, 
                        and room tracking.
                    </p>

                    <p class="techstack">
                    <b>Tech Stack:</b> HTML, CSS, Vanilla JS, MySQL, Node.js, Express
                    </p>
                </div>

                <!-- pupseek -->
                <div class="project-card">
                    <img src="../assets/pupseek.png" alt="PUPSeek" width="150px">

                    <div class="title">
                        <p>PUPSeek</p>
                        <p class="date">Jul 2025</p>
                    </div>

                    <div class="tags">
                        <p class="role">Full Stack Developer</p>
                        <a href="https://github.com/dmsimara/sph-pitech" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>

                        <a href="http://pupseek-web.s3-website-ap-northeast-1.amazonaws.com/" target="_blank">
                            <i class="fa-solid fa-globe"></i>
                        </a>
                    </div>

                    <p class="description">
                        PUPSeek is a web-based app that helps the PUP Manila community 
                        locate lost items and connect with class representatives efficiently.
                    </p>

                    <p class="techstack">
                    <b>Tech Stack:</b> HTML, CSS, Vanilla JS, FastAPI, Docker, AWS S3, 
                        DynamoDB, Lambda, ECR
                    </p>
                </div>
            </div>
        </section>

        <section id="testimonials">
            <div class="testimonials">
                <i class="fa-solid fa-star-of-life"></i>
                <span>Testimonials</span>
            </div>

            <div class="testimonies">
                <i class="fa-solid fa-backward"></i>

                <div class="testimony-card">
                    <img src="#" alt="testimonial Image">
                    <p class="name">Name Here</p>
                    <p class="testimony">Survey Here</p>
                </div>

                <i class="fa-solid fa-forward"></i>
            </div>
        </section>

        <section id="contacts">
            <div class="design"></div>

            <div class="contact-form">
                <form action="#" method="post">
                    <p>
                        <label for="name">Full Name</label>
                        <input type="text" name="name" id="name" required>

                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required>
                    </p>
                    
                    <p>
                        <label for="message">Message</label>
                        <textarea name="message" id="message"></textarea>
                    </p>

                    <button type="button">SUBMIT</button>
                </form>
            </div>

            <div class="title">
                <h1>Let's Connect!</h1>
                <p>Whether you have a project idea, an opportunity, or just want to say hi - 
                    I'd love to connect.
                </p>
            </div>
        </section>

        <section id="blogs"></section>
    </main>

    <footer>
        <p>&copy; 2025 Daniella Simara</p>
    </footer>
</body>
</html>